    ul {
        
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
      }
      
      li a {
        color: #666;
      }
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;